body {
    margin: auto;
    width: 100%;
    background-image: linear-gradient(to right, rgb(55, 135, 209), rgb(31, 31, 231))
}

#estado {
    position: relative;
    margin-left: 10vh;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
}

#municipio {
    position: relative;
    margin-left: 7vh;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
}

select {
    text-align: center;  
}

#title{
    position: absolute;
    margin-top: 6%;
    margin-left: 27%;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}

#logo {
    position: relative;
    margin-left: 45%;
    margin-top: 0.8%;
    width: 10vh; 
}

.nav {
    position: absolute;
    align-items: center;
    width: 100%;
    margin-top: 18%;
    
}

form-select:hover {
    background-color: green;
}

@media (max-width: 320px){
    #title {
        position: absolute;
        margin-top: 20%;
        margin-left: 1%;
        text-align: center;
        color: white;
        font-family: 'Lato', sans-serif;
    }

   .nav {
    position: relative;
    align-items: center;
    
    margin-top: 40%;
   }


}




